@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border:none;
}

.nimadir{
  overflow:hidden;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color:#70372A;
}

textarea {
    resize: none;
}

textarea::-webkit-resizer {
    display: none;
}



a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container {
    max-width: 1920px;
    padding: 0px 80px;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .container {
        padding: 0px 0px;
    }
}


footer{
    background-color:#70372A !important;
    z-index:23 !important;
}


.haa:hover img {
    filter: brightness(0) invert(1);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}